.search-form {
  gap: 20px;

  input {
    border: none;
    border-bottom: 2px solid #868585;
    background-color: rgb(200, 215, 235);
    padding: 5px;
    font-size: rem(20px);
    width: 90%;
  }
}
