@keyframes slide-fade-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}